{% extends "::base.html.twig" %}

{% block title %}Detalls Equip{% endblock %}

{% block body %}
    <h1>{{ equip.nomEquip }}</h1>
    <h2>
        Plantell
    </h2>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Cognom</th>
            <th>Data naixement</th>
            <th>Sou</th>
        </tr>
        </thead>
        <tbody>
        {% for jugador in jugadors %}
            <tr>
                <td>{{ jugador.nom }}</td>
                <td>{{ jugador.cognom }}</td>
                <td>{{ jugador.dataNaixement|date('d-m-Y') }}</td>
                <td>{{ jugador.sou }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Partits com a local</h2>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Equip local</th>
            <th>Gols local</th>
            <th>---</th>
            <th>Gols visitant</th>
            <th>Equip visitant</th>
            <th>Temporada</th>
            <th>Competicio</th>
        </tr>
        </thead>
        <tbody>
        {% for partit in partitsLocal %}
            <tr>
                <td>{{ partit.equipLocal.nomEquip }}</td>
                <td>{{ partit.golslocal }}</td>
                <td>---</td>
                <td>{{ partit.golsvisitant }}</td>
                <td>{{ partit.equipVisitant.nomEquip }}</td>
                <td>{{ partit.temporada }}</td>
                <td>{{ partit.competicio }}</td>
                <td>
                    <a href="{{ path('app_main_editarpartit', {'id': partit.id}) }}" class="btn btn-info">Editar</a>
                    <a href="{{ path('app_main_esborrarpartit', {'id': partit.id}) }}" class="btn btn-danger">Esborrar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Partits com a visitant</h2>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Equip local</th>
            <th>Gols local</th>
            <th>---</th>
            <th>Gols visitant</th>
            <th>Equip visitant</th>
            <th>Temporada</th>
            <th>Competicio</th>
        </tr>
        </thead>
        <tbody>
        {% for partit in partitsVisitant %}
            <tr>
                <td>{{ partit.equipLocal.nomEquip }}</td>
                <td>{{ partit.golslocal }}</td>
                <td>---</td>
                <td>{{ partit.golsvisitant }}</td>
                <td>{{ partit.equipVisitant.nomEquip }}</td>
                <td>{{ partit.temporada }}</td>
                <td>{{ partit.competicio }}</td>
                <td>
                    <a href="{{ path('app_main_editarpartit', {'id': partit.id}) }}" class="btn btn-info">Editar</a>
                    <a href="{{ path('app_main_esborrarpartit', {'id': partit.id}) }}" class="btn btn-danger">Esborrar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
