{% extends "::base.html.twig" %}

{% block title %}Champions{% endblock %}

{% block body %}
<h1>Llistat de partits Champions a la temporada {{ temp }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Equip local</th>
                <th>Gols local</th>
                <th>---</th>
                <th>Gols visitant</th>
                <th>Equip visitant</th>
            </tr>
        </thead>
        <tbody>
        {% for partit in partits %}
            <tr>
                <td>
                    <a href="{{ path('app_main_detallsequip', {'id': partit.equipLocal.id}) }}">
                        {{ partit.equipLocal.nomEquip }}
                    </a>
                </td>
                <td>{{ partit.golslocal }}</td>
                <td>---</td>
                <td>{{ partit.golsvisitant }}</td>
                <td>
                    <a href="{{ path('app_main_detallsequip', {'id': partit.equipVisitant.id}) }}">
                        {{ partit.equipVisitant.nomEquip }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
