{% extends "::base.html.twig" %}

{% block title %}Copa{% endblock %}

{% block body %}
    <h1>Llistat de partits Copa a la temporada {{ temp }}</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Equip local</th>
            <th>Gols local</th>
            <th>---</th>
            <th>Gols visitant</th>
            <th>Equip visitant</th>
            <th>Accio</th>
        </tr>
        </thead>
        <tbody>
        {% for partit in partits %}
            <tr>
                <td><a href="">{{ partit.equipLocal.nomEquip }}</a></td>
                <td>{{ partit.golslocal }}</td>
                <td>---</td>
                <td>{{ partit.golsvisitant }}</td>
                <td>{{ partit.equipVisitant.nomEquip }}</td>
                <td>
                    <a href="" class="btn btn-normal">Edita</a>
                    <a href="" class="btn btn-danger">Esborra</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}